*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(209, 103, 205);
    background: linear-gradient(105deg, rgba(209, 103, 205, 1) 3%, rgba(45, 182, 253, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    gap: 20px;
}
.option button{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}
.compOption{
    font-size: 50px;
}
.output{
    font-size: 40px;
    margin-top: 10px;
}
.point{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    gap: 20px;
    margin-top: 10px;
    font-size: 25px;
}
